body{
  font-family: 'Courier New',sans-serif;
}
.contenedor,
.coders{
  text-align: center;
}
.DivFoto{
  display: inline-block;
  position: relative;
}
.FotoCoder{
  width: 200px;
  height: 200px;
  filter: contrast(80%);
  margin: 12px;
}
span{
  position: absolute;
  left: 50px;
  bottom: 30px;
  color: white;
  font-weight: bold;
}
